page-item-details {
 .button-style {
    background-color: white;
    color: darkred;
  }

  .style-button-details {
    color: white;
    background-color: darkred;
    float: right;
    margin-right: 11px;
    margin-top: 495px;
  }
}
