page-home {
  .style-color {
    background-color: white;
    color: darkred;
  }

  .style-icon-close {
    background-color: white;
    color: darkred;
  }

  .style-header {
    text-align: center;
    color: darkred;
  }

  .style-text {
    text-align: center;
  }
}
