<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem" class="button-style">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rooms Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.title}}
    <ion-icon [name]="selectedItem.icon"></ion-icon>
  </h3>
  <h4 text-center *ngIf="selectedItem">
    You navigated here from <b>{{selectedItem.title}}</b>
  </h4>

  <button class="style-button-details" (click)="component()"> 
    <ion-icon name="md-body"></ion-icon>
  </button>
</ion-content>
